body{
  background-image:url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/ignasi_pattern_s.png");
}
.center-nav {
  position:absolute;

  width: 150px;
  height: 150px;
  text-align: center;
}
.row{
  width:310px;
}
.btn{
  border-radius:100%;
  font-size:10px;
  font-weight:bold;
  box-shadow: 0px 0px 12px #222;
}
.wrap{
  position:relative;
  top:50px;
}
.back{
  border-radius:100%;
  background-color:#595B5C;
  border: 10px solid black;
  top:80px;
  left:60px;
}
.pad {
  height: 150px;
  width: 150px;
  display: inline-block;
  border: 10px solid black;
  box-shadow: 0px 0px 12px #222;
}

.red {
  border-top-left-radius: 100%;
  background-color: red;
}

.yellow {
  border-top-right-radius: 100%;
  background-color: yellow;
}

.blue {
  border-bottom-left-radius: 100%;
  background-color: blue;
}

.green {
  border-bottom-right-radius: 100%;
  background-color: green;
}
